{% extends "page.html.twig" %}

{% block pageHeader %}
    <header class='container page-header'>
        <h1 class='page-title {{textColor}}'>{{ pageHeading }}</h1>
        <h3 class='{{textColor}}'>{{ subHeading }}</h3>
    </header>
{% endblock %}

{% block content %}
    <div class='text-center'>
        <img src='{{titleImg.src}}' alt='{{titleImg.alt}}'>
    </div>
{% endblock %}