{# @params
##     selectOptions => []
##     defData => []
#}
{% extends "form.html.twig" %}
{% import _self as forms %}

{% macro setOptions(options, selectedOption) %}
    {% set selected = '' %}
    {% for option in options %}
        {% set selected = option.id == selectedOption
            ? " selected" : "" %}
        <option value="{{option.id}}" class="form-control"{{selected}}>{{option.name}}</option>
    {% endfor %}
{% endmacro %}

{% macro select(fieldName, options, selected, isRequired) %}
    {% import _self as forms %}
    {% set required = not isRequired is empty ? " required" : '' %}
    <select name="{{fieldName}}" class="form-control"{{required}}>
        {{ forms.setOptions(options, selected) }}
    </select>
{% endmacro %}

{% block formControls %}
    <h5 class="grey-bg pad">Required Information</h5>
    {#<pre>{{dump(selectOptions)}}</pre>#}
        <section class="container item-margin-bottom">
            <div class="row item-margin-bottom">
                <div id="container_select_location" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="location">Location</label>
                        </div>
                        <div class="col-md-6">
                            <select name="location" class="form-control">
                                {% for loc in selectOptions.location %}
                                    {% set selected = defData.location == loc.id
                                        ? ' selected="true"' : "" %}
                                    <option value="{{loc.id}}"{{selected}}>{{loc.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="container_text_specLoc" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="specLoc">Specific location</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="specLoc" maxlength="55" value="{{defData.specLoc}}" class="form-control" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_select_status" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="status">Status</label>
                        </div>
                        <div class="col-md-6">
                            <select name="status" class="form-control">
                                {{forms.setOptions(selectOptions.status, defData.status)}}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="container_select_severity" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="severity">Severity</label>
                        </div>
                        <div class="col-md-6">
                            <select name="severity" class="form-control">
                                {{ forms.setOptions(selectOptions.severity, defData.severity) }}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_select_systemAffected" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="systemAffected">System affected</label>
                        </div>
                        <div class="col-md-6">
                            <select name="systemAffected" class="form-control">
                                {% for sys in selectOptions.systemAffected %}
                                    {% set selected = defData.systemAffected == sys.id
                                        ? ' selected="true"' : "" %}
                                    <option value="{{sys.id}}"{{selected}}>{{sys.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="container_select_groupToRes" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="groupToResolve">Group to resolve</label>
                        </div>
                        <div class="col-md-6">
                            <select name="groupToResolve" class="form-control">
                                {% for sys in selectOptions.groupToResolve %}
                                    {% set selected = defData.groupToResolve == sys.id
                                        ? ' selected' : "" %}
                                    <option value="{{sys.id}}"{{selected}}>{{sys.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_text_identifiedBy" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="identifiedBy" class="required">Identified by</label>
                        </div>
                        <div class="col-md-6">
                            <input name="identifiedBy" type="text" maxlength="51" class="form-control" value="{{defData.identifiedBy}}" required/>
                        </div>
                    </div>
                </div>
                <div id="container_date_dueDate" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="dueDate" class="required">To be resolved by</label>
                        </div>
                        <div class="col-md-6">
                            <input name="dueDate" type="date" class="form-control" value="{{defData.dueDate}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_select_defType" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="defType" class="required">Type</label>
                        </div>
                        <div class="col-md-6">
                            {{forms.select("defType", selectOptions.defType, defData.defType, "require")}}
                        </div>
                    </div>
                </div>
                <div id="container_select_contract" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="contract">Contract</label>
                        </div>
                        <div class="col-md-6">
                            {{forms.select("contract", selectOptions.contract, defData.contract, true)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_select_milestone" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="milestone" class="required">Required for</label>
                        </div>
                        <div class="col-md-6">
                            {{forms.select("milestone", selectOptions.milestone, defData.milestone, true)}}
                        </div>
                    </div>
                </div>
                <div id="container_select_safeCert" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="safetyCert">Safety cert</label>
                        </div>
                        <div class="col-md-6">
                            {{forms.select("safetyCert", selectOptions.safetyCert, defData.safetyCert, true)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_textarea_descrip" class="col-md-6 offset-md-3">
                    <label for="description">Description</label>
                    <textarea name="description" maxlength="1000" class="form-control">{{defData.description}}</textarea>
                </div>
            </div>
        </section>
    <h5 class="grey-bg pad">Optional Information</h5>
        <section class="item-margin-bottom">
            <div class="row item-margin-bottom">
                <div id="container_text_spec" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="spec">Spec or Code</label>
                        </div>
                        <div class="col-md-6">
                            <input name="spec" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div id="container_text_owner" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="actionOwner">Action owner</label>
                        </div>
                        <div class="col-md-6">
                            <input name="actionOwner" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_text_oldID" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="oldID">Old ID</label>
                        </div>
                        <div class="col-md-6">
                            <input name="oldID" type="text" maxlength="50" class="form-control" value="{{defData.oldID}}" />
                        </div>
                    </div>
                </div>
                <div id="container_file_attachment" class="col-md-6">
                    <div class="row item-margin-bottom">
                        <div class="col-md-6">
                            <label for="attachment">Attach file</label>
                        </div>
                        <div class="col-md-6">
                            <input name="attachment" type="file" accept="image/*" class="form-control form-control-file" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-margin-bottom">
                <div id="container_textarea_comment" class="col-md-6 offset-md-3">
                    <label for="comment">Comment</label>
                    <textarea name="comment" maxlength="1000" class="form-control"></textarea>
                </div>
            </div>
        </section>
    <h5 class="grey-bg pad">Closure Information</h5>
    {% if attachments %}
        <h5 class="grey-bg pad">Attachments</h5>
    {% endif %}
    {% if comments %}
        <h5 class="grey-bg pad">Comments</h5>
    {% endif %}
    <pre><h3>Options</h3>{{dump(selectOptions)}}</pre>
    <pre><h3>Data</h3>{{dump(defData)}}</pre>
{% endblock %}